h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.body {
background-color: #fff;
}

.container {
    display: flex;
    align-items: center;
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
@media screen and (min-width: 768px){
.container {
max-width: 768px;
}
}
@media screen and (min-width: 1158px){
.container {
max-width: 1158px;
}
}
section {
    padding-top: 56px;
}
.container-section {
    padding-left: 20px;
    padding-right: 20px;
}

.reviews {
    background-color: #fbfbfb;
    ;
}

.reviews-text-wrap {
    width: 298px;
    height: 128px;
}

.reviews-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 0.91667;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.reviews-item {
    background-color: #f3f3f3;
    text-align: center;
    display: block;
    padding: 84px 0;
    border-radius: 30px;
    padding: 32px 36px;
}

.reviews-image {
    width: 100%;
    border-radius: 100%;
    stroke-width: 2px;
    stroke: #fbfbfb;
}

.reviews-subtitle {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #0c0c0c;
}

.reviews-text {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(12, 12, 12, 0.4);
}